<!DOCTYPE html>
<html>
<head>
{% block header %}
	<base href="{{config["siteUrl"]}}">
	<meta charset="UTF-8">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<title>ProjetServer</title>
{% endblock %}
{% block css %}
	{{ css('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css',{nonce: nonce}) }}
	{{css('css/style.css', {nonce: nonce})}}
{% endblock %}
</head>
<body id="bodyIndex">
{% block head %}
<nav>
	<div class="inline ">
		<img class="logoHeader" src="https://image.noelshack.com/fichiers/2022/07/4/1645111136-logo-prox-clair.png" alt="logo Proxmox">
		<div class="middle">
			<div class="ui search">
				<div class="ui icon input">
					<input class="prompt" type="text" placeholder="Recherche">
					<i class="search icon"></i>
				</div>
				<div class="results"></div>
			</div>
		</div>
		<div class="liste">
			<ul>
				<li><a class="ui button bg-dash" href="/indexcontroller/Documentation">Documentation</a></li>
				<li> <button class="ui orange button" onclick="location.href = 'http://127.0.0.1:8090/connection';">Login</button>  </li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
