<!DOCTYPE html>
<html>
<head>
{% block header %}
	<base href="{{config["siteUrl"]}}">
	<meta charset="UTF-8">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<title>ProjetServer</title>
{% endblock %}
{% block css %}
	{{ css('https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css',{nonce: nonce}) }}
	{{css('css/style.css', {nonce: nonce})}}
{% endblock %}
</head>
<body>
<div class="ui inverted vertical menu">
	<div class="ui inverted segment ">
		<img class="ui small centered image" src="assets/img/logo-prox-clair.png">
	</div>

	<div class="ui horizontal inverted divider">
		DashBoard
	</div>

	<div class="ui inverted segment">
		<a class="item active" href="/DashBoard">
			Home
			<i class="ui left home icon"></i>
		</a>
		<a class="item" href="/DashBoard/VM/MesVM">
			<i class="desktop icon"></i>
			VM'S
		</a>
		<a class="item" href="/DashBoard/Serveurs">
			<i class="server icon"></i>
			Serveur's
		</a>
		<a class="item" href="/DashBoard/Crud">
			<i class="edit icon"></i>
			CRUD
		</a>
		<a class="item" href="/DashBoard/Profil">
			<i class="user icon"></i>
			Profil
		</a>
	</div>


	<div class="dash-middle">
		{% block _logoutButton %}
		<a href="{{authURL}}/connection/terminate" class="ui black button ajax _logout bg-dash" data-target="{{bodySelector}}">
			{% block _logoutCaption %}
			<i class="ui sign out alternate icon"></i> Se déconnecter
			{% endblock %}
		</a>
		{% endblock %}
	</div>
</div>
{% block head %}
{% endblock %}
