<div id="bodyDashBoard">
    <div class="content-dash">
        <h1>Mes VM'S</h1>
        <div class="dash-middle margin-bot-dash">
            <a class="ui primary button" href="{{path('vm.addVm')}}"><i class="plus icon"></i> Créer une VM</a>
        </div>
        {% for vm in vms %}
                <div class="ui fluid card">
                    <div class="content">
                        <div class="ui right floated header">
                            {{ vm.number }}
                        </div>
                        <div class="header">
                            <div class="ui header ">
                                {{ vm.name }}
                            </div>
                        </div>
                        <div class="meta">
                            Adresse Ip : {{ vm.ip }}
                        </div>
                        <div class="description">
                            <div>OS : {{ vm.os }}</div>
                            <div>Port SSh : {{ vm.sshport }}</div>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a class="ui green button" href="{{path('vm.update', [vm.id])}}">Modifier la VM</a>
                            <a class="ui  red button" href="{{path('vm.delete', [vm.id])}}">Supprimer</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

</div>
