<div id="bodyDashBoard">
    <div class="content-dash">
        {% for server in servers %}
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header">
                    {{ server.id }}
                </div>
                <div class="header">
                    <div class="ui header ">
                        {{ server.dnsname }}
                    </div>
                </div>
                <div class="meta">
                    Adresse Ip : {{ server.ipaddress }}
                </div>

            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <a class="ui green button" href="{{path('vm.update', [vm.id])}}">Connection au serveur</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
