<div id="bodyDashBoard">
    <div class="content-dash">
        <div class="dash-profil">
            <div class="ui centered card ">
                <div class="image ">
                    <img src="assets/img/kristy.png">
                </div>
                <div class="content">
                    <a class="header">{{users.login}}</a>
                    <div class="meta">
                        <span class="date">Joined in 2022</span>
                    </div>
                    <div class="description">
                        Vos rôles : {{users.role}}
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 VM
                    </a>
                    <a class="right floated">
                        <i class="user icon "></i>
                        3 Groupes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
