<div id="bodyDashBoard">
    <div class="content-dash">
        <div class="dash-profil">
            <div class="ui card centered">
                <img class="ui centered image" src="{{users.image}}">
                <h2 class="ui centered header">
                    <div class="content dash-transform">
                        {{users.login}}
                        <div class="sub header dash-margin">{{users.role}}</div>
                    </div>
                </h2>
                <div class="content">
                    <div class="description dash-padding">
                        {{users.description}}
                    </div>
                </div>
                <div class="extra content dash-middle dash-padding ">
                    <a class="ui linkedin button" href="{{users.linkedin}}">
                        <i class="linkedin icon"></i>
                        LinkedIn
                    </a>
                    <a class="ui black button" href="{{users.github}}">
                        <i class="github icon"></i>
                        Github
                    </a>
                </div>
                <a class="ui bottom bg-dash attached button">
                    <i class="edit icon"></i>
                    Modifier le profil
                </a>
            </div>
        </div>
    </div>
</div>
