<div id="bodyDashBoard">
   <div class="content-dash">
       <h1> Bonjour {{ name }}</h1>
       <div class="ui grid">
           <div  class="height wide computer eight wide tablet sixteen wide mobile column">
               <div class="ui fluid card">
                   <div class="content">
                       <div class="ui right floated header red">
                           <i class="desktop icon"></i>
                       </div>
                       <div class="header">
                           <div class="ui header color-dash">
                               3958
                           </div>
                       </div>
                       <div class="meta">
                               VM
                       </div>
                       <div class="description">
                           Que vous avez créer depuis votre inscription.
                       </div>
                   </div>
                   <div class="extra content">
                       <div class="ui two buttons">
                           <a class="ui button bg-dash" href="/DashBoard/VM">Voir mes VM'S</a>
                       </div>
                   </div>
               </div>
           </div>
           <div  class="height wide computer eight wide tablet sixteen wide mobile column">
               <div class="ui fluid card">
                   <div class="content">
                       <div class="ui right floated header red">
                           <i class="users icon"></i>
                       </div>
                       <div class="header">
                           <div class="ui color-dash header">
                               3958
                           </div>
                       </div>
                       <div class="meta">
                           Groupes
                       </div>
                       <div class="description">
                           Dont vous êtes attribué depuis votre inscription.
                       </div>
                   </div>
                   <div class="extra content">
                       <div class="ui two buttons">
                           <div class="ui bg-dash button">Voir mes Groupes</div>
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <h3 class="ui top attached block header">
           Gérer mes VM, avec le CRUD ?
       </h3>
       <div class="ui attached segment">
           <div class="content dash-inline">
               <img class="ui top aligned large rounded image" src="assets/img/content-img.jpg">
               <div class="content-crud">
                   <h3>CRUD : La base de la gestion de données.</h3>

                       <div>Le terme CRUD est étroitement lié avec la gestion des données numériques. Plus précisément,
                            CRUD est un acronyme des noms des quatre opérations de base de la gestion de la persistance des données et applications :
                       </div>
                       <ul>
                           <li>Create (créer)</li>
                           <li>Read ou Retrieve (lire)</li>
                           <li>Update (mettre à jour)</li>
                           <li>Delete ou Destroy (supprimer)</li>
                       </ul>
                       <div>Plus simplement, le terme CRUD résume les fonctions qu’un utilisateur a besoin d’utiliser pour créer et gérer des données.</div>
               </div>
               <div class="divider-dash"></div>
               <div>
                   <h3>Comment cela peut être utile pour les vm :</h3>
               <ul>
                   <li>Modifier les propriétés de base d’une VM</li>
                   <li>Affecter un étudiant à une VM</li>
                   <li>Affecter un groupe à une VM</li>
                   <li>Créer une VM</li>
               </ul></div>

           </div>
       </div>
           <button class="ui bottom fluid attached bg-dash button">Accéder au CRUD</button>

       <div class="ui placeholder segment">
           <div class="ui two column stackable center aligned grid">
               <div class="ui vertical divider">OU</div>
               <div class="middle aligned row">
                   <div class="column">
                       <div class="ui icon header">
                           <i class="chart bar icon"></i>
                           Chart
                       </div>
                       <div class="ui bg-dash button">
                           Explorer
                       </div>
                   </div>
                   <div class="column">
                       <div class="ui icon header">
                           <i class="user icon"></i>
                           Profil
                       </div>
                       <div class="ui bg-dash button">
                           Voir
                       </div>
                   </div>
               </div>
           </div>
       </div>

   </div>
</div>

