<form class="ui form" action="{{path('myAuth.newUser')}}" method="post">
        <h4 class="ui header dividing">Création de compte</h4>
            <div class="two fields">
                <div class="field">
                    <label for="email">Email :</label>
                        <input type="email" name="email" id="email">

                </div>
                <div class="field">
                    <label for="password">Mot de passe :</label>
                        <input type="password" name="password" id="password">
                </div>
            </div>
        <div class="field">
            <button class="ui green button">Créer un compte</button>
        </div>
</form>
