<nav>
    <div class="inline">
        <div class="title">PROXMOX'SUPAVENIR</div>
        <div class="middle">
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Common passwords...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="liste">
            <ul>
                <li> <button class="ui  button">Documentation</button> </li>
                <li> <button class="ui primary button">Create VM</button>  </li>
                <li> <button class="ui primary button">Create CT</button> </li>
                <li> <button class="ui primary button">Login</button>  </li>
            </ul>
        </div>
    </div>
</nav>
