
<div class="ui grid form-grid">
    <div class="six wide column">
        <div class="ui segment height-85">
            <select class="ui dropdown">
                <option value="">Sélectionner un serveur</option>
                {% for server in servers %}
                <option value="1">{{ server }}</option>
                {% endfor %}
            </select>
            <div class="ui list">
                <div class="item">
                    <i class="database icon"></i>
                    <div class="content">
                        <div class="header">DataCenter</div>
                        <div class="list">
                            <div class="item">
                                <i class="server icon"></i>
                                <div class="content">
                                    <div class="header">Server Test</div>
                                    <div class="list">
                                        <div class="item">
                                            <i class="desktop icon"></i>
                                            <div class="content">
                                                <div class="header">VM 101</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui segment height-85 no-padding">
            <div class="chemin-segment"> Chemin serveur</div>
            <div class="ui grid margin-grid">
                <div class="three wide column">
                    <div class="ui list">
                        <div class="item">
                            <i class="search icon"></i>
                            <div class="content header">
                                Search
                            </div>
                        </div>
                        <div class="item">
                            <i class="history icon"></i>
                            <div class="content header">
                                Summary
                            </div>
                        </div>
                        <div class="item">
                            <i class="terminal icon"></i>
                            <div class="content header">
                                Shell
                            </div>
                        </div>
                        <div class="item">
                            <i class="cog icon"></i>
                            <div class="content header">
                                Option
                            </div>
                        </div>
                        <div class="item">
                            <i class="linkify icon"></i>
                            <div class="content header">
                                Storage
                            </div>
                        </div>
                        <div class="item">
                            <i class="save icon"></i>
                            <div class="content header">
                                Backup
                            </div>
                        </div>
                        <div class="item">
                            <i class="chess queen icon"></i>
                            <div class="content header">
                                Permissions
                            </div>
                        </div>

                    </div>
                </div>
                <div class="thirteen wide column">
                    test
                    {% for user in users %}
                    <p><b>Users :</b> {{ user.login }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

