<!--View associated to Documentation action of IndexController controller -->
<div class="ui segment">
<h1>Une machine virtuelle (VM), comment ça marche ?</h1>
<p class="textdocu"> La virtualisation consiste à faire fonctionner sur une machine physique et de façon isolée plusieurs applications (virtualisation applicative) ou systèmes d’exploitation (virtualisation système).</p>
<ul>
    <li class="textdocu">La virtualisation système permet de mettre à disposition plusieurs serveurs virtuels ou plusieurs postes de travail à partir d’un serveur physique, ce que l’on appelle la VDI (Virtual Desktop Infrastructure).</li>
    <li class="textdocu">La virtualisation applicative se situe un cran au-dessus : contrairement à la virtualisation système, l’OS n’est pas virtualisé, il se situe sur le serveur physique, et va mettre à disposition aux utilisateurs des applications qui fonctionneront à distance. Ces applications sont accessibles de deux façons différentes :</li>
    <ul>
        <li class="textdocu">L’utilisateur se connecte au serveur pour accéder à l’application et l’utilise à distance : c’est ce que l’on appelle la virtualisation de session.</li>
        <li class="textdocu">L’utilisateur télécharge l’application sur son poste et l’utilise en local. Dans ce cas, une « bulle » sera créée afin de faire fonctionner l’application dans un environnement virtualisé, dans le but d’éviter tout problème de compatibilité. On appelle cela la virtualisation par bulle applicative.</li>
    </ul>
</ul>
    <p class="textdocu">La virtualisation se concentre principalement sur la création de serveurs virtuels. Les autres technologies de virtualisation, bien qu’en retrait, représentent tout de même un minimum de 30% d’adoption par les entreprises.

        A noter que la virtualisation d’application semble avoir le vent en poupe, puisque 17% des répondants affirment qu’ils envisagent cette technologie dans les 2 ans.</p>
</div>