<div class="indeximage">
    <br><br>
        <p class="imgtxt">Instance vituelle</p>
        <p class="imgsoustxt">De la création de machine virtuelle sans précédent</p>
    <br>
</div>
<div class="ui segment">
    <h1 class="titreindex">Essayez et devenez un adhérant de Proxmox'Supavenir.</h1>
    <p class="texteindex">Grace à cet applicatif vous serez capable de créer et d'utiliser vos machines virtuelle à souhait avec une fluidité optimale,
    chaque machine peut être crée facilement et déployer rapidement,<br>la sécurité de vos machines sont également garantis via nos services. <br>
    L'espace alloué est assez large afin de pouvoir permettre de plus grande possibilitées et un plus grand pannel de modification de vos VM. <br></p>
</div>
<div class="ui three column grid">
    <div class="column">
        <div class="ui segment">
            <img class="ui small image" src="https://img.freepik.com/vecteurs-libre/icone-ordinateur-portable-ouvert-illustration-dessin-anime_107791-4113.jpg?size=338&ext=jpg&ga=GA1.2.1357113350.1638748800">
            <p class="texteindex">1- La création de machine virtuelle</p>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <img class="ui small image" src="https://thumbs.dreamstime.com/b/internet-de-graphisme-d-et-informatique-symbole-la-terre-planète-globale-technologie-sans-fil-vecteur-134569311.jpg">
            <p class="texteindex">2- L'accès à vos machine depuis le net sans aucun lien physique</p>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <img class="ui small image" src="https://thumbs.dreamstime.com/b/well-organized-fully-editable-antivirus-protection-security-icon-any-use-like-print-media-web-commercial-use-any-kind-158454387.jpg">
            <p class="texteindex">3- La sécurité de vos machine virtuelle</p>
        </div>
    </div>
</div>
<div class="indeximage2">
    <br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <p class="whitetexte">ADOPTEZ LA NOUVELLE METHODE VIRTUELLE !</p>
    <div class="dash-middle">
        <a class="ui primary button" href="lien">Create VM</a>
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
</div>