<div class="pageCentrale">
        <img class="ui centered image" src="assets/img/logo-prox.png">
        <h1 class="nomindex">Proxmox-Supavenir</h1>
        <div class="ui inverted segment mb-3 borderRadius">
            <h1 class="titreindex">Essayez et devenez un adhérant de Proxmox'Supavenir.</h1>
            <p class="texteindex">Grace à cet applicatif vous serez capable de créer et d'utiliser vos machines virtuelle à souhait avec une fluidité optimale,
            chaque machine peut être crée facilement et déployer rapidement,<br>la sécurité de vos machines sont également garantis via nos services. <br>
            L'espace alloué est assez large afin de pouvoir permettre de plus grande possibilitées et un plus grand pannel de modification de vos VM. <br></p>
    </div>
    <div class="ui three column grid mb-4">
        <div class="column">
            <div class="ui inverted segment borderRadius">
                <h1 class="titreindex">Creation</h1>
                <img class="ui small image imageCard" src="https://docs.microsoft.com/en-us/learn/achievements/create-windows-virtual-machine-in-azure.svg">
                <p class="texteindex">La création de machine virtuelle</p>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted segment borderRadius">
                <h1 class="titreindex">Navigation</h1>
                <img class="ui small image imageCard" src="https://cdn.pixabay.com/photo/2012/04/26/14/14/internet-42584_960_720.png">
                <p class="texteindex">L'accès à vos machine depuis le net sans aucun lien physique</p>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted segment borderRadius">
                <h1 class="titreindex">Sécurité</h1>
                <img class="ui small image imageCard" src="https://cdn4.iconfinder.com/data/icons/internet-seccurity-blue-filled-line/32/Internet_Security_shield_antivirus_protect_lock_locked-512.png">
                <p class="texteindex">La sécurité de vos machines virtuelles</p>
            </div>
        </div>
    </div>
    <div class="ui two column grid">
        <div class="column">
            <div class="ui inverted segment">
                <h1 class="titreindex">Débit Rapide</h1>
                <p class="texteindex">De 100 Mbps à 1Gbps pour chaque solution d'hôte VM.</p>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted segment">
                <h1 class="titreindex">TOP Sécurité</h1>
                <p class="texteindex">Les essentiels solutions de sécurité, Firewall, SSL & SSH options.</p>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <img class="logoFooter" src="https://image.noelshack.com/fichiers/2022/07/4/1645111136-logo-prox-clair.png" alt="logo Proxmox">
    <div class="centreLeTout">
    <p>Tout droit reservé</p>
    <p>@copyright </p>
    <p>Mathieu Dumont | Thomas Roulland | Lucas Bourcier</p>
    </div>
</footer>