#bodyDashBoard{
	background-color: #b0b6ba;
	height: 100vh;
}

#bodyIndex{
	background-color: rgb(173, 169, 169);
}
.head{
	background-color: #1f1f1f;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
}

.segment.container {
	background-color: #4d4d4d;
}

nav {
	width: 100%;
	background-color: #1f1f1f;
	padding: 15px;
}

nav > .inline {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

nav > .inline > .title {
	font-weight: bold;
	font-size: xxx-large;
	display: flex;
	align-items: center;
}

nav > .inline > .title >.orange {
	font-weight: bold;
	font-size: xxx-large;
	display: flex;
	align-items: center;
	color: #ff8103;
}

nav > .inline > .middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav > .inline > .liste  {
	width: 100%;
}

nav > .inline > .liste > ul > li {
	display: inline;
	margin-left: 3% ;
}

.orange{
	color: #ff8103;
}
.ui.grid {
	padding: 1% 1% 0 1%;
}

.ui.dropdown {
	background: #fff;
	-webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	border: 1px solid rgba(34,36,38,.15);
	width: 100%;

}

.height-85 {
	height: 86vh;
	border-radius: 0 !important;
}

.three.wide.column {
	border-top: solid 1px black;
	height: 83vh;
}

.thirteen.wide.column {
	border-left: solid 1px black;
	border-top: solid 1px black;

}

.no-padding {
	padding: 0 !important;
}

.chemin-segment{
	font-weight: bold;
	padding: 5px;
	width: 100%;
}

.ui.list > .item{
	margin-bottom: 10px;
}

.ui.inverted.vertical.menu{
	position: fixed;
	top: 0;
	height: 100vh;
	border-radius: inherit;
	width: 35vh;
	z-index: 1;
}

.ui.inverted.vertical.menu > .ui.segment{
	padding: 35px;
	border-radius: inherit;
}

.ui.inverted.menu .active.item{
	background: none;
	color: #ff8103 !important;
}

.ui.inverted.menu a{
	font-size: large;
}

.ui.horizontal.inverted.divider{
	font-size: large;
}

.ui.inverted.menu a:hover {
	background: rgba(255, 129, 3, 0.3) !important;
}

.dash-btn{
	cursor: pointer;
	background-color: #313233;
	width: 100%;
	color: white;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	margin: 0 0.25em 0 0;
	padding: 0.78571429em 1.5em 0.78571429em;
	border: none;
	font-size: large;
}

.dash-btn:hover{
	background-color: #48494a;
	font-weight: bold;
}

.content-dash {
	margin-left: 17%;
	padding: 30px;
}

.ui.grid {
	padding: 0;
}

#bodyDashBoard > .content-dash > h1{
	text-align: center;
	margin-bottom: 25px;
}

.color-dash {
	color: #ff8103 !important;
}

.bg-dash {
	background: #ff8103 !important;
	color: white !important;
}

.ui.top.attached.header{
	margin-top: 25px;
}

.dash-inline{
	display: inline-flex;
	gap: 35px;
}

.content-crud {
	width: 35%;
}

.divider-dash {
	border-left: solid 1px #d4d4d5;
}

.indeximage {
    background-image: url("../img/banniere.jpg");
	background-size: cover;
}

.imgtxt {

	text-align: right;
	font-size: 500%;
	margin: 60px;
	color: white;
	color: #1f1f1f;
}

.margin-dash{
	margin-top: 10px !important;
}

.dash-profil {
	margin-top: 13%;
}

.dash-transform{
	text-transform: uppercase;
}

.dash-middle {
	display: flex;
	justify-content: center;
}

.dash-padding {
	padding: 5% !important;
}

.imgsoustxt{

	text-align: right;
	font-size: 300%;
	margin: 60px;
	color: #1f1f1f
}

.titreindex{
	text-align: center;
}

.texteindex{
	text-align: center;
	font-size: 125%;
}

.indeximage2{
	position: relative;
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	padding: 1em 1em;
	border-radius: 0.5rem;
	border: 1px solid rgba(34,36,38,.15);
	margin: 2rem;
		background-image: url("https://www.cforpro.com/images/formation-reseaux-informatique.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	background-clip: border-box;
}

.whitetexte{
	text-align: center;
	font-size: 500%;
	color: #1f1f1f;
}
.mb-3{
margin-top: 2rem !important;
margin-bottom: 2rem !important;
margin-left: 2rem !important;
margin-right: 2rem !important;
}

.mb-4{
	margin-bottom: 1rem !important;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
	margin-top: 0 !important;
}
.footer{
	width: auto;
	height: 15%;
	background-color: #1f1f1f;
	display: flex;
	margin-top: 2rem;
	padding-top: 1.5rem;
}
.centreLeTout{
	width: 25%;
    display: flex;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 8%;
    flex-direction: column;
    justify-content: center;
}
.logoFooter{
	width: auto;
	height: 100%;
}

.pageCentrale{
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	padding: 1em 1em;
	border-radius: 0.5rem;
	border: 1px solid rgba(34,36,38,.15);
	margin-top: -3.5rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-bottom: -3.5rem;
}

.pageConnection{
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	padding: 1em 1em;
	border-radius: 0.5rem;
	border: 1px solid rgba(34,36,38,.15);
	margin-top: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
	margin-bottom: 5rem;
}